{% extends 'base.html' %} {% block content %}
  {% for event in events %}
    <div class="card mb-3">
      <div class="d-flex justify-content-between align-items-center card-header p-3 lead">
        {{ event.title }}
        <form action="{% url 'events:delete' %}" method="post">
          {% csrf_token %}
          <input type="hidden" value="{{ event.pk }}" name="pk" />
          <input class="btn btn-danger btn-lg float-right" type="submit" value="Delete Event" />
        </form>      </div>
      <ul class="list-group list-group-flush list-group-item-action">
        <li class="list-group-item p-1 pl-3">Who: {{ event.presenter }} </li>
        <li class="list-group-item p-1 pl-3">What: {{ event.description }}</li>
        <li class="list-group-item p-1 pl-3">Where: {{ event.location }}</li>
        <li class="list-group-item p-1 pl-3">When: {{ event.time }}</li>
      </ul>
    </div>
  {% endfor %}
{% endblock %}
